<ion-content class="dashboard-screen">
  <!-- HEADER -->
  <div class="header">
    <div class="header-left">
      <img src="../../../assets/icon/Iconreplace.svg" class="logo" />
      <div class="header-text">
        <h2>Blue Whale</h2>
        <p>Welcome back, John Doe!</p>
      </div>
    </div>

    <img src="../../../assets/Avatar.svg" alt="" />
  </div>

  <!-- QUICK ACTIONS -->
  <div class="quick-actions">
    <div class="qa-card">
      <ion-icon name="location-outline"></ion-icon>
      <p>Explore Stores</p>
    </div>

    <div class="qa-card">
      <ion-icon name="receipt-outline"></ion-icon>
      <p>Order History</p>
    </div>

    <div class="qa-card">
      <ion-icon name="card-outline"></ion-icon>
      <p>My card</p>
    </div>
  </div>

  <!-- QUESTION BAR -->
  <div class="question-bar">Where do you want to wash today?</div>

  <!-- MAIN ACTION CARDS -->
  <div class="main-cards">
    <div class="big-card start-now">
      <!-- decorative full-svg -->
      <img src="../../../assets/Vectors.svg" class="bg-svg" />

      <!-- content -->
      <h3>Start your machine now</h3>
      <p>Choose, book, and start washing</p>
      <button>Start now</button>
    </div>

    <div class="medium-card">
      <img src="../../../assets/LaundryVector.svg" alt="" />
      <h3>My Laundry Machine</h3>
    </div>

    <div class="medium-card chat-card">
      <img src="../../../assets/ChatBot.svg" alt="" />
      <p>Chat with me!</p>
    </div>
  </div>

  <!-- STORES LIST -->
  <div class="stores-section">
    <h3>Glad to see you again!</h3>

    <div class="search-box">
      <ion-icon name="search-outline"></ion-icon>
      <input type="text" placeholder="Which laundry store?" />
      <ion-icon name="rainy-outline"></ion-icon>
    </div>

    <ul class="stores-list">
      <li>
        <ion-icon name="pin-outline"></ion-icon>
        <span>Rua Direita<br />Viana do Castelo 4900-448</span>
        <p>23/09</p>
      </li>

      <li>
        <ion-icon name="pin-outline"></ion-icon>
        <span>Avenida da Glória 220<br />Meadela, Viana do Castelo</span>
        <p>23/09</p>
      </li>

      <li>
        <ion-icon name="pin-outline"></ion-icon>
        <span>Carolina de Matos lote 5<br />Darque, Viana do Castelo</span>
        <p>23/09</p>
      </li>
    </ul>
  </div>
</ion-content>
